<% provide(:title, "サイトについて") %>
<div class="text-center">
    <h1 class="font-weight-bold">How to use this Site</h1>
</div>
    <div class="row">
        <div class="mx-auto align-items-center">
          <h2><管理人より></h2>
            <br>
         　  この度はこのサイトをご利用いただきありがとうございます😊<br>
				    女子一人旅のススメでは、女性でも一人旅をしてみたい！でも、一人で計画を立てるのは不安…といった人のための情報共有サイトです!!<br>
						もうすでに一人旅をしている人が投稿することによって行っていない人に興味を持ってもらう、投稿している人はほかの人の投稿を見てもらうことによって新しくいきたい場所をアップデートできることを目的としています✨<br>
						閲覧は誰でも可能ですが、投稿にはユーザー登録📝が必要です！<br>
 <br>
  <br>

						<h2><使い方について></h2>
						<p>➀投稿タブ、もしくは投稿一覧から＋をおして新規投稿画面に行きます。</p>
						<p>➁フォームに従って記事を投稿していきます。
						<br>※写真・URLはあれば投稿お願いします。ない場合は投稿名と投稿本文だけで大丈夫です！</p>
						<p>➂投稿ボタンを押せば投稿完了です！もし、記事を編集したい場合はマイページから編集可能ですのでご活用ください！</p>

						<h3>※注意※</h3>
              <p>次の行為をされた場合は記事の削除orユーザーの削除をいたしますのであらかじめご了承ください🙏</p>
						<p>・実際に存在しない場所など悪意を感じる書き込み</p>
					  <p>・他人のコメントに対しての誹謗中傷・嫌がらせ</p>
						<p>・管理者が悪質だと判断した場合</p>
					  <p>                            …etc</p>
						<p>お互いがマナーを守って楽しい旅行ライフをエンジョイしましょう！✨</p>
<br>
  <br>
  <br>
  <br>
  <br>
  <br>

        </div>

