<div class="col-md-8 offset-md-1">
  <h4>Posts</h4>
  <table class="table table-hover table-inverse">
   <thread>
    <tr>
     <th></th>
     <th></th>
     <th>Title</th>
     <th>Post</th>
     <th colspan="3"></th>
    </tr>
   </thread>
  </table>

</div>
